
<div class="modal fade" id="modalConfirmacao" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteLabel">Remover produto</h4>
            </div>
            <div class="modal-body" id="preview">
                <p id="msg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="deletar()" id="confirmarExclusao">Remover produto</button>

            </div>
        </div>
    </div>
</div>
